<h1><%= @pokemon.name.titleize %></h1>

<% if @pokemon.image_url.present? %>
  <%= image_tag @pokemon.image_url %>
<% end %>

<p>
  <strong>Type:</strong>
  <%= link_to @pokemon.type.name.titleize, type_path(@pokemon.type) %>
</p>

<p><strong>Height:</strong> <%= @pokemon.height %></p>
<p><strong>Weight:</strong> <%= @pokemon.weight %></p>

<p><%= link_to "Back to Pokémon List", pokemons_path %></p>